In [5]:
from bs4 import BeautifulSoup
import json
import pandas as pd
from state_abbr import us_state_abbrev as abbr
from selenium import webdriver
import urllib.parse
import re
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time

In [6]:
import requests
import io
from PIL import Image

In [7]:
cities = pd.read_excel('D:\HTML\scrapingdata\Realtor\List of Cities.xlsx')
cities = cities[['Unnamed: 1','Unnamed: 2']]
cities

    Unnamed: 1 Unnamed: 2
0     nn_model        NaN
1         City      State
2        Akron         OH
3       Albany         GA
4       Albany         NY
..         ...        ...
394  Worcester         MA
395    Wyoming         MI
396     Yakima         WA
397  Yuba City         CA
398       Yuma         AZ

[399 rows x 2 columns]

In [8]:
cities['city'] = cities['Unnamed: 1'].str.replace(" ", "-") +"_"+cities['Unnamed: 2']
cities = cities.iloc[2:]
cities

      Unnamed: 1 Unnamed: 2            city
2          Akron         OH        Akron_OH
3         Albany         GA       Albany_GA
4         Albany         NY       Albany_NY
5         Albany         OR       Albany_OR
6    Albuquerque         NM  Albuquerque_NM
..           ...        ...             ...
394    Worcester         MA    Worcester_MA
395      Wyoming         MI      Wyoming_MI
396       Yakima         WA       Yakima_WA
397    Yuba City         CA    Yuba-City_CA
398         Yuma         AZ         Yuma_AZ

[397 rows x 3 columns]

In [9]:
PATH = "C:\Program Files (x86)\chromedriver.exe"
driver = webdriver.Chrome(PATH)
url_pre = "https://www.realtor.com/realestateandhomes-search/"

In [12]:
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [97]:
#scrape data
records = []
count=0
for row in soup.find_all('div', class_=re.compile(r'Cardstyles__StyledCard')):
        count = count+1
        if count % 2 ==1:
            try:
                author = row.find("span",class_=re.compile(r'BrokerTitle_titleText')).get_text()
            except:
                author = None
        else:
            try:
                label_span = row.find("span", {"data-testid": "label-new"}).text
            except:
                label_span = None
            try:
                construction = row.find("span", {"data-testid": "label-new-construction"}).text
            except:
                construction =  None
            try:
                sale = row.find("div", class_=re.compile(r'base__StyledType')).get_text()
                sale = "On"
            except:
                sale = "Off"
            try:
                price_text = row.find("div", class_=re.compile(r'Pricestyles__StyledPrice'), attrs={"data-testid": "card-price"}).text
                price = re.sub("[^\d]", "", price_text)
            except:
                price = 0
            try:
                bed_text = row.find("li", {"data-testid": "property-meta-beds"}).get_text()
                bed =  int(re.search(r'\d+', bed_text).group())
            except:
                bed = 0
            try:
                bath_text = row.find("li", {"data-testid": "property-meta-baths"}).get_text()
                bath =  int(re.search(r'\d+', bath_text).group())
            except:
                bath = 0
            try:
                sqft_text = row.find("li", {"data-testid": "property-meta-sqft"}).get_text()
                sqft =  int(re.search(r'\d+', sqft_text).group())
            except:
                sqft = 0
            try:
                lot_size_text = row.find("li", {"data-testid": "property-meta-lot-size"}).get_text()
                lot_size =  int(re.search(r'\d+', lot_size_text).group())
            except:
                lot_size = 0
            try:
                address1_div = row.find("div", {"data-testid": "card-address-1"})
                address2_div = row.find("div", {"data-testid": "card-address-2"})
              # Get the text content of each address
                address1 = address1_div.text.strip()
                address2 = address2_div.text.strip()
            except:
                address1 = None
                address2 = None  
            if author != None:
                records.append({
                         'label' : label_span,
                         'construction' : construction,
                         'sale' : sale,
                         'price' : price,
                         'bed' : bed,
                         'bath' : bath,
                         'sqft' : sqft,
                         'lot size' : lot_size,
                         'address1' : address1_div,
                         'address2' : address2_div
                      
                    })
            for image in row.find_all('picture'):
                src_value = image.find('img')['src']
                try:
                    image_content = requests.get(src_value).content
                    image_file = io.BytesIO(image_content)
                    image = Image.open(image_file)
                    file_path= "D:/HTML/scrapingdata/Realtor/img/" +address1+address2+".jpg" 
                    with open(file_path,"wb") as f:  
                        image.save(f,"JPEG")
                except:                 
                    continue

In [98]:
driver.quit()

In [99]:
df_missing = pd.DataFrame.from_dict(records)
df_missing

,label,construction,sale,price,bed,bath,sqft,lot size,address1,address2
0,new - 20 hours ago,new construction,On,559832,3,2,0,0,[6736 Kilamanjaro Way],"[Stockton, CA 95219]"
1,new,new construction,On,688990,4,3,2,0,[10356 Harmosh Ct],"[Stockton, CA 95219]"
2,new,new construction,On,642490,4,3,2,0,[6818 Fathom Rd],"[Stockton, CA 95219]"
3,new,new construction,On,577399,3,2,0,0,[6818 Kilamanjaro Way],"[Stockton, CA 95219]"
4,new,None,On,499900,4,2,2,6,[4239 Bass Rd],"[Stockton, CA 95219]"
5,new - 9 hours ago,None,On,379999,3,1,1,8,[311 W Norwich Dr],"[Stockton, CA 95207]"
6,new - 12 hours ago,None,On,395000,3,2,1,5,[620 Macduff Ave],"[Stockton, CA 95210]"
7,new,None,On,599000,3,3,1,9,[1045 Stanton Way],"[Stockton, CA 95207]"
8,new - 15 hours ago,None,On,495000,3,2,1,5,[3875 Brook Valley Cir],"[Stockton, CA 95219]"
9,new - 15 hours ago,None,On,449950,3,2,1,7,[242 E Banbury Dr],"[Stockton, CA 95207]"
10,new - 14 hours ago,None,On,445000,3,1,1,5,[611 Regent St],"[Stockton, CA 95204]"
11,new - 7 hours ago,None,On,275000,2,1,815,1,[8667 Mariners Dr Apt 86],"[Stockton, CA 95219]"
12,new - 12 hours ago,new construction,On,459950,4,2,1,6,[2510 S Harrison St],"[Stockton, CA 95206]"
13,new - 6 hours ago,None,On,180000,0,0,0,0,[829 N Golden Gate Ave],"[Stockton, CA 95205]"
14,new,new construction,On,617950,5,3,0,0,[7224 Sambucus Way],"[Stockton, CA 95219]"
15,new,new construction,On,667422,5,3,2,0,[10347 Crab Apple Dr],"[Stockton, CA 95219]"
16,new,new construction,On,705212,4,3,3,0,[6676 Kaweah Ln],"[Stockton, CA 95219]"
17,new,new construction,On,699950,5,3,2,0,[6943 Foraker Dr],"[Stockton, CA 95219]"
18,new,new construction,On,621563,4,3,2,0,[7037 Foraker Dr],"[Stockton, CA 95219]"
19,new,new construction,On,722987,4,3,2,0,[10355 Crab Apple Dr],"[Stockton, CA 95219]"
20,new,new construction,On,675868,4,3,2,0,[6846 Fathom Rd],"[Stockton, CA 95219]"
21,new,new construction,On,666956,4,3,2,0,[10348 Harmosh Ct],"[Stockton, CA 95219]"
22,new,new construction,On,589991,4,3,2,0,[1402 Delta River Ave],"[Stockton, CA 95206]"
23,new,new construction,On,642956,4,3,2,0,[10340 Harmosh Ct],"[Stockton, CA 95219]"
24,new,new construction,On,499990,3,2,1,0,[1432 Willowedge Way],"[Stockton, CA 95206]"
25,new,new construction,On,672362,5,3,0,0,[10113 Downy Birch Dr],"[Stockton, CA 95219]"
26,new,new construction,On,732490,5,3,2,0,[10367 Crab Apple Dr],"[Stockton, CA 95219]"
27,new,new construction,On,730043,5,3,3,0,[6949 Foraker Dr],"[Stockton, CA 95219]"
28,new,new construction,On,771309,4,3,2,0,[10363 Crab Apple Dr],"[Stockton, CA 95219]"
29,new,new construction,On,566492,4,2,0,0,[6712 Kilamanjaro Way],"[Stockton, CA 95219]"
30,new,new construction,On,565178,3,3,2,0,[10364 Crab Apple Dr],"[Stockton, CA 95219]"
31,new,new construction,On,656463,5,3,0,0,[10100 Downy Birch Dr],"[Stockton, CA 95219]"
32,new,new construction,On,515291,4,2,0,0,[6706 Kilamanjaro Way],"[Stockton, CA 95219]"
33,new,new construction,On,548858,3,2,1,0,[6919 Foraker Dr],"[Stockton, CA 95219]"
34,new,new construction,On,705209,5,3,3,0,[7019 Foraker Dr],"[Stockton, CA 95219]"
35,new,new construction,On,575171,4,2,0,0,[6760 Kilamanjaro Way],"[Stockton, CA 95219]"
36,new,new construction,On,668621,5,3,0,0,[10124 Downy Birch Dr],"[Stockton, CA 95219]"
37,new,new construction,On,605713,4,3,0,0,[6825 Kilamanjaro Way],"[Stockton, CA 95219]"
38,new,new construction,On,738212,4,3,3,0,[10344 Harmosh Ct],"[Stockton, CA 95219]"
39,new,new construction,On,520832,3,2,0,0,[6812 Kilamanjaro Way],"[Stockton, CA 95219]"
40,new,new construction,On,699950,5,3,3,0,[7001 Foraker Dr],"[Stockton, CA 95219]"
41,new,new construction,On,670624,5,3,2,0,[6931 Foraker Dr],"[Stockton, CA 95219]"

In [100]:
df_missing.to_csv('D:\HTML\scrapingdata\Realtor\data.csv')
print(df_missing.shape)
df_missing.head()

(42, 10)

,label,construction,sale,price,bed,bath,sqft,lot size,address1,address2
0,new - 20 hours ago,new construction,On,559832,3,2,0,0,[6736 Kilamanjaro Way],"[Stockton, CA 95219]"
1,new,new construction,On,688990,4,3,2,0,[10356 Harmosh Ct],"[Stockton, CA 95219]"
2,new,new construction,On,642490,4,3,2,0,[6818 Fathom Rd],"[Stockton, CA 95219]"
3,new,new construction,On,577399,3,2,0,0,[6818 Kilamanjaro Way],"[Stockton, CA 95219]"
4,new,None,On,499900,4,2,2,6,[4239 Bass Rd],"[Stockton, CA 95219]"